@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #875df8;
  --color-primary-light: #a689fb;
  --color-primary-dark: #6b3fe0;

  --color-secondary: #1e1e2e;
  --color-secondary-light: #2a2a3b;
  --color-secondary-dark: #151524;

  --color-accent: #00d4ff;
  --color-accent-light: #4ee9ff;
  --color-accent-dark: #009ec2;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
